<h1>User Dashboard</h1>

<h1><%= @user.email %></h1>
<h3>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
<h4><%= @user.comments.count %> total comments</h4> 
<h4><%= @user.comments.where(:rating => '5_stars').count %> total 5-star reviews</h4> 
<h4><%= @user.comments.where(:rating => '4_stars').count %> total 4-star reviews</h4> 
<h4><%= @user.comments.where(:rating => '3_stars').count %> total 3-star reviews</h4> 
<h4><%= @user.comments.where(:rating => '2_stars').count %> total 2-star reviews</h4> 
<h4><%= @user.comments.where(:rating => '1_stars').count %> total 1-star reviews</h4> 